/* UNIVERSAL PROPERTIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  list-style: none;
  font-weight: 500;
}
a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  width: fit-content;
}
/* REGISTRO USUARIO */
section {
    background-image: url("../img/registroUsuario.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FORMULARIO */
input,
textarea,
select {
  outline: none;        
  box-shadow: none;     
  border: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none; 
  box-shadow: none; 
  border-color: none;
  background-color: none;
}
form {
    background-color: rgb(250, 250, 250);
    color: rgb(10, 10, 10);
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: clamp(1.25rem, 7.5vw, 2.5rem);
    padding: clamp(1.25rem, 7.5vw, 2.5rem);
    font-weight: 800;
}
#formDisplay {
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 7.5vw, 1.25rem);
}
.displayDatos {
  display: flex;
  flex-direction: column;
  gap: clamp(0.25rem, 7.5vw, 0.5rem);
}
input, select {
  padding: clamp(0.25rem, 7.5vw, 0.5rem) clamp(0.5rem, 7.5vw, 1rem);
  font-size: clamp(0.75rem, 7.5vw, 1rem);
  border: 0.10rem solid rgb(10, 10, 10);
}
button {
  font-size: clamp(0.75rem, 7.5vw, 1rem);
  color: rgb(245, 245, 245);
  background-color: rgb(15, 50, 95);
  border-radius: 0rem;
  border: 0rem;
  padding: clamp(0.25rem, 7.5vw, 0.5rem);
  cursor: pointer;
  outline: none;
}